<!DOCTYPE html>
<html>
<head>
<title>三列布局</title>

<style type="text/css">
.wrap{width:100%;overflow:hidden;}
.left{background:#E3E5E4; width:100px; float:left; }
.center{background:yellow; width:50%; margin-left:100px;}
.right{background:#64B2E0; float:right; width:50%; margin-right: -50px; 
position:relative; z-index:1;}/*margin-right使其与center有重叠，right应该在上层*/
.qh{margin-bottom:-10000px;padding-bottom:10000px;}
ul{ margin:0;}

</style>
</head>
<body>

<p>三栏等高布局，左栏固定宽度，右两栏等宽自适应宽度</p>
<div class="wrap">
  	<div class="left qh">left</div>
  	<div class="right qh">right</div>
  	<div class="center qh">
	   <ul>
		  <li>center</li>
		  <li>center center center center center center center center center ce center center</li>
	      <li>center</li>
		  <li>center</li>
	   </ul> 
    </div>
</div>
</body>
</html>